:root {
  font-family: Dosis, sans-serif;
  line-height: 1.5;
  margin: 0;
  font-size: 1rem;


  color-scheme: light dark;
  background-color: #F1FDFC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* HERO */
.nav{
  background-color: #0B5B53;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
}

.logo-name{
  font-family: Damion, sans-serif;
  color: #0B5B53;
  display: flex;
  justify-content: center;
}

.border-radius{
  border-radius: 1rem;
}

.navigation{
  display: flex;
  align-items: center;
}

.browse{
  font-size: 2.5rem;
  color:#F1FDFC ;
}

.navigation > a{
  text-decoration: none;  
}

.nav-item{
  margin: 1rem;
}

/* SEARCH BUTTONS */
.main-search{
  background-color: #F1FDFC;
  color: #0B5B53;
  font-weight: 600;
  margin-top: 1.5rem;
}

.search{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alpha-btn{
  background-color: #74CEC4;
  font-weight: 600;
  padding: 1rem;
}

.alpha-btn:hover{
  background-color: #F1FDFC;
}

.alphabetical-buttons{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* HOME CONTENT */
.home-card{
  display: flex;
  justify-content: center;
  border: 1px solid;
  background-color: #17AFA0;
  color:#92CBC5;
  font-weight: 600;
  font-size: 1.3rem
}

.home-card:hover{
  background-color:#F1FDFC;
  color:#0B5B53
}

.preview{
  padding: 1rem;
  border: 1px solid;
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
  font-weight: 600;
}

.preview:hover {
  background: #92CBC5;
}

.grid-container{
  display: grid;
  width: 100%;
  margin-top: 1.5rem;
  color:#0B5B53;
}

.preview-btn{
  width: 40%;
  background-color:#F1FDFC;
  height: auto;
  color:#0B5B53;

}

.preview >image{
  min-width: 80px;
}

/* OVERLAY */
.overlay{
  color:#0B5B53;  
  width: 100%;
  border-width: 0;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.overlay-btn{
  background-color: #0B5B53;
  padding: .4rem 1rem;
}

.title-container{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

/* HAMBURGER */
.menu-item{
  padding: 10px;
}

.menu-list{
  font-size: 1.3rem;
}

.menu-title{
  font-size: 1.3rem;
}

/* FAVORITES */
.favorite-container{
  color:#0B5B53;
}

/* SUGGESTIONS */
.random-card-container{
  height: 15rem;
  background-color:#17AFA0;
  margin-bottom: 2rem;
}

/* LOGIN */
.login-main{
  color: #0B5B53;
}

@media screen and (max-width: 667px) {
  /* HERO */
  .logo{
    width: 40px;
  }

  .logo-name{
    font-size: 2rem;    
  }

  .nav{
    height: 3rem;
    padding: .3rem 1rem;    
  }

  .settings{
    height: 25px;
  }

  .main-search{
    height: 2.5rem;
    font-size: 1.45rem; 
    padding: 5px;  
    width: 70%;
    margin-bottom: 1rem;
  }

  .alphabetical-buttons > button{
    padding: 5px;
    font-size: 1rem;
    border-radius: .9rem;
    width: 170px;
  }

  .alphabetical-buttons{
    margin: 5px;
  }

  .navigation{
    margin-right: 1rem;
  }
  
  .browse{
    font-size: 1rem;
  }

  /* PREVIEW */
  .title{
    font-weight: 600;
    font-size: 1.8rem;
  }

  .preview{
    padding: 1rem;   
    font-size: .9rem;
    height: 300px;
  }

  .preview > img{
    width: 90px;   
  }

  .preview-btn{
    width: 100px;
    height: 1.3rem;
    font-weight: 600px;
  }

  .grid-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  /* OVERLAY */
  
}

@media screen and (min-width: 667px){
  /* HERO */
  .nav{
    display: flex;
    margin: 5rem auto;
    width: 95%;
  }

  .logo{
    width: 85px;
    margin: 2rem 4rem;  
  }

  .settings{
    width: 60px;
    height: 60px;
    margin: 2rem 4rem;  
  }

  .logo-name{
    font-size: 5rem;
  }

  .main-search{
    height: 5rem;
    width: 40%;
    font-size: 2.3rem;
    padding: 1rem;
    margin: 5rem;
  }

  .alphabetical-buttons{
    margin: 3rem;
    width: 100%;
  }

  .alphabetical-buttons > button{
    width: 300px;
    height: 5rem;
    font-size: 1.5rem;
    margin: 3rem;
  }

  .title{
    font-size: 5rem;
    margin-left: 10rem;
  }

  /* PREVIEW */
  .preview > img{
    width: 10rem; 
  }




  .preview-btn{    
    font-size: 1rem;
    padding: .3rem;
  }

  .grid-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  /* EPISODES */

}

/* ARROW ANIMATION */
#arrowAnim {
  width: 40vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 10vw;
  height: 10vw;
  border: 2.5vw solid;
  border-color: blue transparent transparent blue;
  transform: rotate(-135deg);
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite; 
          animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
}
.delay2 {
  -webkit-animation-delay: 4s; 
    animation-delay: 4s;
}
.delay3 {
  -webkit-animation-delay: 6s; 
    animation-delay: 6s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateY(-4vh); }	
   20% { opacity:1; transform: translateY(2vh); }	
   80% { opacity:1; transform: translateY(8vh); }	
  100% { opacity:0; transform: translateY(17vh); }	
}
@keyframes slide {
    0% { opacity:0; transform: translateY(-4vh); }	
   20% { opacity:1; transform: translateY(2vh); }	
   80% { opacity:1; transform: translateY(8vh); }	
  100% { opacity:0; transform: translateY(17vh); }	
}


/* SHOW SUMMARY MODAL */



.overlay__title {
  padding: 1rem 0 0.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.1px;
  max-width: 25rem;
  margin-top: -3rem;
}

.overlay__blur {
  width: 100%;
  height: 200px;
  filter: blur(10px);
  opacity: 0.5;
  transform: scale(2);
}

.overlay__image {
  max-width: 15rem;
  position: absolute;
  top: 1.5m;
  border-radius: 2px;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.overlay__data {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.overlay__content {
  padding: 2rem 1.5rem;
  text-align: center;
  padding-top: 3rem;
}

.overlay__preview {
  overflow: hidden;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* END OF SUMMARY MODAL */

/* USER HOME PAGE HORIZONTAL CARDS */

.horizontal__control {
  width: calc(25vw - 2rem);
  max-width: 20rem;
  min-width: 15rem;
}

.max__height {
  max-height: 35vh;
}

.custom-card {
  width: calc(50vw -2rem);
  max-width: 20rem;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.card-img-top {
  height: 70%;
  object-fit: cover;
}

.card-title {
  font-size: 0.9rem;
  width: 100%;
  position: absolute;
  left: 0;
  margin-top: -0.2rem;
}

.container__rules {
  height: 100%;
  overflow-y: hidden;
}

.right__column {
  height: 100%;
  padding-left: 1rem;
}

.horizontal__scroll {
  display: flex;
  flex-wrap: nowrap;
  max-height: calc(70vh -4rem);
  overflow-x: auto;
  margin-bottom: 1rem;
}
 /* END OF USER HOME PAGE HORIZONTAL CARDS */