:root {
  font-family: Dosis, sans-serif;
  line-height: 1.5;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F1FDFC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* NAVBAR */
.nav{
  background-color: #0B5B53;
}

.logo-name{
  font-family: Damion, sans-serif;
  font-size: 2rem;
  color: #0B5B53;
}

@media screen and (max-width: 667px) {
  /* HERO */
  .logo{
    width: 40px;
  }

  .nav{
    height: 3rem;
    padding: .3rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-radius: 1rem;
  }

  .settings{
    height: 25px;
  }
}
