:root {
  font-family: Dosis, sans-serif;
  line-height: 1.5;
  margin: 0;
  font-size: 1rem;
  color-scheme: light dark;
  background-color: #F1FDFC;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* HERO */
.nav{
  background-color: #0B5B53;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
}

.logo-name{
  font-family: Damion, sans-serif;
  color: #0B5B53;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.border-radius{
  border-radius: 1rem;
}

/* SEARCH BUTTONS */
.main-search{
  background-color: #F1FDFC;
  color: #0B5B53;
  font-weight: 600;
  margin-top: 1.5rem;
}

.search{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alpha-btn{
  background-color: #74CEC4;
  font-weight: 600;
  padding: 1rem 2rem;
}

.alpha-btn:hover{
  background-color: #F1FDFC;
}

.alphabetical-buttons{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* HOME CONTENT */
.preview{
  padding: 1rem;
  border: 1px solid;
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
  font-weight: 600;
}

.preview:hover {
  background: #92CBC5;
}

.grid-container{
  display: grid;
  width: 100%;
  margin-top: 1.5rem;
  color:#0B5B53;
}

.preview-btn{
  width: 40%;
  background-color:#0B5B53;
  height: auto;
}

.preview >image{
  min-width: 80px;
}

/*PREVIEW OVERLAY */
.overlay{
  color:#fff;  
  width: 100%;
  border-width: 0;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.overlay-btn{
  background-color: #17AFA0;
  padding: .4rem 1rem;
}

.title-container{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.overlay__title {
  padding: 1rem 0 0.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.1px;
  max-width: 25rem;
  margin-top: -3rem;
}

.overlay__blur {
  width: 100%;
  height: 200px;
  filter: blur(10px);
  opacity: 0.5;
  transform: scale(2);
}

.overlay__image {
  max-width: 15rem;
  position: absolute;
  top: 1.5m;
  border-radius: 2px;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.overlay__data {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.overlay__content {
  padding: 2rem 1.5rem;
  text-align: center;
  padding-top: 3rem;
}

.overlay__preview {
  overflow: hidden;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SUGGESTIONS */
.carousel-image{
  width: 100px;
  height: auto;
}

.suggestion-overlay{
  color:#F1FDFC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestion-overlay-image{
  width: 200px;
}

/* LOGIN */
.login-main{
  color: #0B5B53;
}

/* SEASONS OVERLAY */
.season-items{
  border: 1px solid;
  padding: 1rem;
  margin-top: 1.5rem;
}

.season-image{
  width: 90px;
}

/* EPISODES */
.episode-btn{
  padding: .5rem;
  background-color: inherit;
  color:#fff;
  font-weight: 600;
}

/* PLAYER AND FAVORITE SECTION */
.player-favorite{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .player-favorite:hover{
  cursor: pointer;
} */

.filled{
  background-color:#0B5B53;
}

.fa-regular{
  padding: 7px;
  border-radius: 1rem;
  border: 1px solid #0B5B53;
  color: #fff;
}

.fa-regular:hover{
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  /* HERO */
  .logo{
    width: 40px;
  }

  .logo-name{
    padding-top: 6rem; 
  }

  .logo-name > h1{
    font-size: 5rem;
  }

  .main-search{
    height: 2rem;
    font-size: 1rem; 
    padding: 5px;  
    width: 70%;
    margin: 3rem auto;
  }

  /* ALPHABETICAL BUTTONS */
  .alphabetical-buttons > button{
    padding: 5px;
    font-size: .9rem;
    border-radius: .9rem;
    width: 120px;
    margin: .5rem;
  }

  .alphabetical-buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

  } 

  /* PREVIEW */
  .title{
    font-weight: 600;
    font-size: 1.8rem;
  }

  .preview{
    width: 100%;
    font-size: .9rem;
    height: 300px;
    margin: .5rem;
  }

  .preview > img{
    width: 90px;   
  }

  .preview-btn{
    width: 100px;
    height: 1.3rem;
    font-weight: 600px;
  }

  .grid-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }


}

@media screen and (max-width: 800px) and (min-width: 376px) {
    /* HERO */
    .nav{
      display: flex;
      margin: 5rem auto;
    }
  
    .logo{
      height: 85px;
      width: 85px;
      margin: 2rem 4rem;  
    }
  
    .settings{
      width: 60px;
      height: 60px;
      margin: 2rem 4rem;  
    }
  
    .logo-name{
      font-size: 5rem;
    }
  
    .main-search{
      height: 5rem;
      width: 40%;
      font-size: 1.35rem;
      padding: .3rem;
      margin: 5rem;
    }
  
    /* ALPHABETICAL BUTTONS */
    .alphabetical-buttons{
      margin: 3rem;
      width: 100%;
    }
  
    .alphabetical-buttons > button{
      height: 4rem;
      font-size: 1.2rem;
    }
  
    .title{
      font-size: 5rem;
      margin-left: 10rem;
    }
  
    /* PREVIEW */
    .preview > img{
      width: 10rem; 
    }
  
    .preview{
      margin-top: 2rem;
    }
  
    .preview-btn{ 
      width: auto;   
      font-size: 1rem;
      padding: .4rem 1rem;
    }
  
    .grid-container{
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
}

@media screen and (min-width: 800px){
  /* HERO */
  .nav{
    display: flex;
    margin: 5rem auto;
  }

  .logo{
    width: 85px;
    margin: 2rem 4rem;  
  }

  .settings{
    width: 60px;
    height: 60px;
    margin: 2rem 4rem;  
  }

  .logo-name{
    font-size: 5rem;
  }

  .main-search{
    height: 5rem;
    width: 40%;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 5rem;
  }

  .alphabetical-buttons{
    margin: 3rem;
    width: 100%;
  }

  .alphabetical-buttons > button{
    height: 5rem;
    font-size: 1.2rem;
    margin: 3rem;
  }

  .title{
    font-size: 5rem;
    margin-left: 10rem;
  }

  /* PREVIEW */
  .preview > img{
    width: 10rem; 
  }

  .preview{
    margin-top: 2rem;
  }

  .preview-btn{ 
    width: auto;   
    font-size: 1rem;
    padding: .4rem 1rem;
  }

  .grid-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
